body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

aside {
  float: left;
  width: 20%;
}

section {
  float: right;
  width: 80%;
}

.on{
  background-color: cornflowerblue;
}
.on:hover{
  background-color: lavender;
}
.off{
  background-color: transparent;
}
.off:hover{
  background-color: lavender;
}
